<div class="container">
    <form [formGroup]="loginForm" class="login" (ngSubmit)="loginHandler()">

        <fieldset>
            <h2>Login Form</h2>

            <div>
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input formControlName="email" class="input-error" type="email" id="email"
                    placeholder="john.doe@gmail.com">
            </div>

            <p *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']" class="error">
                Email is required!
            </p>
            <p *ngIf="loginForm.get('email')?.errors?.['emailValidator']" class="error">
                Email is not valid!
            </p>

            <p>
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input type="password" formControlName="password" id="password" placeholder="******">
            </p>

            <p *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
                class="error">
                Password is required!
            </p>
            <p *ngIf="loginForm.get('password')?.errors?.['minlength']" class="error">
                Password must be at least 4 characters!
            </p>

            <button [disabled]="loginForm.invalid" class="login">Login</button>

            <p class="text-center">
                Have an account?
                <a href="#">Register</a>
            </p>

        </fieldset>
    </form>
</div>